*{
    margin: 0px;
    padding: 0px;
}

.current {
    margin: 20px;
    display: flex;
}

.weather-info{
    padding: 10px;
    color: var(--text);
    font-size: 21px;
    text-shadow: 0.5px 0.5px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Mukta', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Russo One', sans-serif;   
}

.city-name{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.city-name img {
    width: 32px;
    height: 24px; 
    object-fit: contain; 
    margin-left: 10px; 
}


.temperature .differential{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temperature .differential p{
    font-size: 12px;
}

.thermal-sensation{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.humidity{
    padding-top: 7px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.wind{
    padding-top: 7px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

#description-svg{
    padding-right: 5px;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.temperature {
    padding-top: 10px;
    display: flex;
    color: var(--text);
    font-size: 30px;
    text-shadow: 0.5px 0.5px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Mukta', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Russo One', sans-serif;
    margin-top: 35px;
}

.temperature p {
    margin: 0; 
    font-size: 18px; 
    margin-right: 5px; 
}

.temperature p.value {
    font-size: 40px; 
    font-weight: 700;
}

.temperature p.scale {
    font-size: 16px; 
    position: relative;
    top: -20px;
    color: var(--text);
    font-size: 21px;
    text-shadow: 0.5px 0.5px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Mukta', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Russo One', sans-serif;
}

  
.svg-current {
    margin-top: -30px;
    margin-left: 70px;
    margin-right: -30px;
    margin-bottom: -100px;
    width: 400px; 
}


#glass{
    background-color: rgba(71, 71, 71, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    box-shadow: 7px 7px  6px rgba(5, 5, 5, 0.308); 
}

/* Adicione isso no seu arquivo CSS */
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #555;
}

.loading-spinner {
    border: 5px solid #f3f3f3; /* Cor clara */
    border-top: 5px solid #3498db; /* Cor azul */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media (orientation: portrait) {
    .info{
        position: absolute;
    }
    .svg-current {
        margin: -20px;
        margin-top: 0px;
        margin-left: 20px; 
    }
}
