.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container input{
  flex: 1;
  padding-right: 40px;
  padding: 10px;
  background-color: rgba(71, 71, 71, 0.1); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  box-shadow: 7px 7px  7px rgba(5, 5, 5, 0.308);
  overflow-x: auto;
  outline: none;
  border: none;
  margin: 10px 10px 0px 10px;
  color: var(--text);
}

.search-container input::placeholder {
  color: var(--text);
}

.search-container button{
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-container svg{
  width: 15px;
}


.search-container button.search-button {
  position: absolute;
  top: 10px;
  right: 15px;
}




