:root {
  --text: aliceblue;
}

.background{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 800px;
  border-radius: 5px;
  flex-direction: column;
  min-height: 100vh;
}

.forecast-day {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  padding: 20px;
}

@media (orientation: portrait) {
  .container {
    width: 100vw; 
    border-radius: 0; 
  }

  .forecast-day {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 20px;
  }
}
